<!DOCTYPE html>
<html lang="pt-br">
	<head>

        {% block title %}<title>Webapp Doações</title>{% endblock %}
		<meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" type ='text/css' href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" type ='text/css' href="{% static 'css/style.css' %}">

		<title>Webapp Doações</title>	
	</head>

	<body>
		<header>
			<div class="imagem-centro">
                {% load static %}                    
				<h1><img src="{% static 'imagens/doação-alimentos.png' %}" alt="logo doação alimentos"></h1>
			</div>
		</header>

		<!--menu-->
		<div class="topnav">
        {% block sidebar %}
			<nav>
				<ul>
					<li><a href="{% url 'index' %}" class="active">Home</a></li>					
					<li><a href="">Pesquisa - necessidades</a></li>
					<div class="topnav-right">
						{% if user.is_authenticated %}
							<li class="username">Usuário: {{ user.get_username }}</li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
						{% else %}
							<li><a href="{% url 'login' %}">Login</a></li>
						{% endif %}
					</div>
				</ul>
			</nav>
		</div>
		{% endblock %}


		<!-- barra navegação lateral -->
		<div class="sidenav">
		  <a href="{% url 'entidade-list' %}">Entidades cadastradas</a>
		  <a href="{% url 'categoria-list' %}">Categorias cadastradas</a>
		  <a href="{% url 'donativo-list' %}">Donativos cadastrados</a>
		  <a href="{% url 'necessidades-list' %}">Lista de necessidades</a>	
		</div>

		<!-- conteudo principal -->
		<div class="main">
			{% block content %}{% endblock %}			
		</div>

		{% block footer %}
			<footer>			
				<p class="copyright">&copy; Copyright TCC 19908515 - 2023</p>
			</footer>
		{% endblock %}


	</body>

</html>
</html>