{% extends "base_generica.html" %}

{% block content %}

    <section class='d-flex flex-row justify-content-center p-2'>
        <h1>Lista de entidades cadastradas</h1>
    </section>

    <div class='container'>
        <form method="get">
            <input class="form-control me-2 barra-pesquisa" type="text" name="search" placeholder="Pesquisar..." aria-label="Search">
            <button class="btn btn-primary p-1 m-2" type="submit">Pesquisar</button>
        </form>

        <p><a href="?">Limpar pesquisa</a></p>
    </div>

 
    <div class='container'>
        <table class='table table-striped table-hover'>
            <thead>
            <tr>
                <th>Nome fantasia</th>
                <th>CNPJ</th>
            </tr>
            </thead>
            <tbody>
            {% for entidade in lista_entidade %}
                <tr>
                <td>
                    <a class='link-success' href="{{ entidade.get_absolute_url }}">{{ entidade.nome_fantasia }}</a>
                </td>
                <td>{{ entidade.cnpj }}</td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="3">Nenhum resultado encontrado.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>   
    </div>

  

{% endblock %}