{% extends "base_generic.html" %}

{% block content %}

    {% if form.errors %}
        <p>Usuário ou senha incorretos/inexistentes. Por favor tente novamente</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Sua conta não possui acesso a esta página. Para prosseguir, por favor faça o login com uma conta que possua este acesso</p>
        {% else %}
            <p>Por favor faça o login para visualizar esta página</p>
        {% endif %}
    {% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>

    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    
</form>

<p><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>

{% endblock %}
