{% extends 'base_generic.html' %} 

{% block content %} 

    {% if validlink %}
        <p>Informe e confirme sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %} 
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }} <label for='id_new_password1'>Nova senha: </label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }} <label for='id_new_password2'>Confirme a senha: </label></td>
                    <td>{{ form.new_password2}} </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Mudar minha senha"></td>
                </tr>
            </table>
        </form>

    {% else %}
        <h1>Reinício de senha falhou</h1>
        <p>O link para reinício da senha é inválido. Por favor solicite o reíncio da senha novamente</p>
    {% endif %} 
    
{% endblock %} 
