{% extends "base_generica.html" %}

{% block content %}

<section class='container'>
    {% if form.errors %}    
        <p style='color:red'>Usuário ou senha incorretos/inexistentes. Por favor tente novamente</p>
        <br>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Sua conta não possui acesso a esta página. Para prosseguir, por favor faça o login com uma conta que possua este acesso</p>
        {% else %}
            <p>Por favor faça o login para visualizar esta página</p>
        {% endif %}
    {% endif %}

<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td class="p-2 m-3">{{ form.username.label_tag }}</td>
            <td class="p-2 m-3">{{ form.username }}</td>
        </tr>
        <tr>
            <td class="p-2 m-3">{{ form.password.label_tag }}</td>
            <td class="p-2 m-3">{{ form.password }}</td>
        </tr>
    </table>

    <button class="btn btn-primary btn-block" type="submit">Login</button>
    <input type="hidden" name="next" value="{{ next }}">
    
</form>

<div>
    <p class='p-2 m-3'><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>
    <span class='p-2 m-3'><a href="{% url 'registrar' %}">Criar novo usuário</a></span>
</div>

{% endblock %}

</section>