{% extends "base_generica.html" %}

{% block content %}

  <section class='d-flex flex-row justify-content-center p-2'>
    <h1>Detalhes da categoria</h1>
  </section>
  
  <section class="container-sm mx-auto">
    <ul class='list-group'>
      <li class="list-group-item list-group-item-primary">Categoria: {{ categoria.pk }} </li>
      <li class="list-group-item list-group-item-secondary">Descrição: {{ categoria.descricao }} </li>
      <li class="list-group-item list-group-item-secondary">Tipo: {{ categoria.tipo }} </li>
    </ul>
  </section>
  
  <section class="container-sm mx-auto"> 
    {% if user.is_staff or perms.appdoacoes.pode_criar_atualizar_categoria %}    
    <div class='d-inline-flex flex-row justify-content-center p-2 m-4'>
      <ul class='list-group'>
        <li class='list-group list-group-item'><a href="{% url 'categoria-update' categoria.codigo_categoria %}">
          <button class="btn btn-primary">Atualizar categoria</button>
        </a></li>     
        <li class='list-group list-group-item'><a href="{% url 'categoria-delete' categoria.codigo_categoria %}">
        <button class="btn btn-primary">Deletar categoria</button>
        </a></li>
      </ul>          
  </div>
    {% endif %}
  </section>
 

{% endblock %}