{% extends "base_generica.html" %}

{% block content %}

<section class='d-flex flex-row justify-content-center p-2 m-4'>
    <h1>Lista de necessidades cadastradas</h1>
</section>

<section class='container'>
    <div class='d-inline-flex flex-row justify-content-center p-2 m-4'>
        <div>
            <form method="get">
                <input class="form-control me-2 barra-pesquisa" type="text" name="search" placeholder="Pesquisar..." aria-label="Search">
                <button class="btn btn-primary p-1 m-2" type="submit">Pesquisar</button>
            </form>
            <p><a href="?">Limpar pesquisa</a></p>
        </div>
    </div>

    <div class='d-inline-flex flex-row justify-content-center p-2 m-4'>
        <p class='p-2'>Filtrar por tipo:</p>
        <ul class="list-group">
            <li class="list-group-item"><a href="?tipo=Material">Material</a></li>
            <li class="list-group-item"><a href="?tipo=Serviço">Serviço</a></li> 
            <li class="list-group-item"><a href="?">Todos</a></li>       
        </ul>
    </div>

    {% if user.is_staff or perms.appdoacoes.pode_criar_atualizar_donativo %} 
    <div class='d-inline-flex flex-row justify-content-center p-2 m-4'>
        <a href="{% url 'necessidade-create' %}">
            <button class="btn btn-primary">Cadastrar necessidade</button>
        </a>            
    </div>
    {% endif %}
</section>


<div class='container'>
    <table class='table table-striped table-hover'>
        <thead>
        <tr>
            <th>Código da necessidade</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Unidade</th>
            <th>Entidade</th>
        </tr>
        </thead>
        <tbody>
            {% for instancia in instanciadonativo_list %}
            <tr>
                <td>
                    <a class='link-success' href="{{ instancia.get_absolute_url }}">{{ instancia.id }}</a>
                </td>
                <td>{{ instancia.donativo.descricao }}</td>
                <td>{{ instancia.quantidade }}</td>
                <td>{{ instancia.donativo.unidade }}</td>
                <td>{{ instancia.entidade }}</td>
            </tr>
        {% empty %}
            <tr>
            <td colspan="3">Nenhum resultado encontrado.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>   
</div>


    

{% endblock %}