{% extends "base_generica.html" %}

{% block content %}

    <h1>Lista de necessidades cadastradas</h1>
    <br>

    <ul>
    {% for instancia in registronecessidade_list %}
        <li>
            Código da categoria: <a href=" {{ necessidade.get_absolute_url }}">{{ necessidade.id }} </a> <br>
            Descrição: {{ necessidade.entidade }} - {{ necessidade.donativo }} - {{ necessidade.quantidade }}            
        </li>  
        <br>  
    {% endfor %}
    </ul>

    {% if user.is_staff or perms.appdoacoes.pode_criar_atualizar_donativo %} 
        <br>
        <p><a href="{% url 'necessidade-create' %}">Cadastrar necessidade</a></p>   
    {% endif %}
    

{% endblock %}